<p>Un patient vient de demander une consultation<p>

<ul>

<li>Nom et prénom : {{fullName}}</li>

<li>Email : {{email}}</li>

<li>Pays: {{ country.label }}</li>

<li>Numéro de téléphone : +({{ country.phone }}) {{phone_number}}</li>

<li>date : {{date}}</li>

<li>Type de contact souhaité : {{contact_type}}</li>

</ul>