<p>Un visiteur vient de vous envoyer un message<p>

<ul>

<li>Nom et prénom: {{fullName}}</li>

<li>Email: {{email}}</li>

<li>Numéro de téléphone: {{ phoneNumber }}</li>

<li>Objet: {{subject}}</li>

<li>Message: {{msg}}</li>

</ul>